body {
    background-color: #E9EDC9;
}
hr {
    border-style: none;
    border-top-style: dotted;
    border-color: #FFBF86;
    border-width: 6px;
    width: 7%;
}
h1{
    color: #F2921D;
    /*text-shadow: 4px 4px 5px rgb(182, 171, 171);*/
}
h2{
    color: #F2921D;
    /*text-shadow: 4px 4px 5px rgb(182, 171, 171);*/
}

